html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
* {
    -webkit-tap-highlight-color: transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul, li {
    list-style:none;
}

input, select {
    vertical-align:middle;
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
a{
    color: inherit;
    text-decoration: none;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html,body{
    font-family: "Nunito", sans-serif;
    font-size: 1.67vh;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    scroll-behavior: smooth;
    background: #fff;
    color: #231F20;
    overflow: hidden;
    width: 100vw;
}
.body{
    min-width: 320px;
}
.body.no-scroll{
    overflow: hidden;
}
.container{
    max-width: 168.89vh;
    padding: 0 1.48vh;
    margin: auto;
    width: 100%;
}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
main.main{
    overflow: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3vh 0 1.67vh;
    transition: all .2s ease;
}
.header__logo{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 13.89vh;
}
.header__logo svg{
    width: 13.89vh;
    height: auto;
}

.header__menu ul{
    display: flex;
    align-items: center;
    gap: 4.44vh;
    position: relative;
}
.header__menu ul li a{
    display: flex;
    max-width: max-content;
    color: #FFF;
    font-size: 1.85vh;
    font-weight: 500;
    line-height: 2.59vh; /* 140% */
    position: relative;
    padding-bottom: 0.56vh;
    transition: all .2s ease;
}
.header__menu ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.19vh;
    border-radius: 0.19vh;
    background-color: #E5E28B;
    opacity: 0;
    transition: all .2s ease;
}
.header__menu ul li a:hover::after{
    opacity: 1;
}
.menu-underline {
  position: absolute;
  bottom: 0;
  height: 0.19vh;
  background-color: #E5E28B;
  border-radius: 0.19vh;
  transition: all 1s ease;
  width: 0;
  left: 0;
}
.header__lang{
    position: relative;
    z-index: 1;
}
.header__lang-selected{
    display: flex;
    gap: 0.19vh;
    color: #FFF;
    font-size: 1.67vh;
    font-weight: 500;
    line-height: 2.59vh;
    border-radius: 3.7vh;
    border: 0.09vh solid rgba(255, 255, 255, 0.20);
    padding: 0.65vh 0.74vh 0.65vh 1.11vh;
    height: 4.07vh;
    transition: all .2s ease;
}
.header__lang-selected::after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_4_1853' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4_1853)'%3E%3Cpath d='M12 15.4L6 9.4L7.4 8L12 12.6L16.6 8L18 9.4L12 15.4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
    width: 2.22vh;
    height: 2.22vh;
    min-width: 2.22vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    transition: all .2s ease;
}
.header__lang-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: -1;
    right: 0;
    top: 0;
    background-color: #fff;
    left: 0;
    padding: 4.07vh 0.74vh 0.65vh 1.11vh;
    border-radius: 1.85vh 1.85vh;
    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;
    border: 0.09vh solid transparent;
    border-top: none;
}
.header__lang-content a{
    color: #231F20;
    font-size: 1.67vh;
    font-weight: 500;
    line-height: 2.59vh;
    transition: all .2s ease;
}
.header__lang-content a:hover{
    color: #E5E28B;
}
.header__lang.active .header__lang-selected{
    border-radius: 1.85vh 1.85vh 0 0;
    background-color: #fff;
    color: #231F20;
    border-bottom: none;
}
.header__lang.active .header__lang-selected::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_4_1853' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4_1853)'%3E%3Cpath d='M12 15.4L6 9.4L7.4 8L12 12.6L16.6 8L18 9.4L12 15.4Z' fill='%23231F20'/%3E%3C/g%3E%3C/svg%3E");
    transform: rotate(180deg);
}
.header__lang.active .header__lang-content{
    opacity: 1;
    pointer-events: all;
}
.header__menu-close,
.header__burger{
    display: none;
}
.header__burger svg path,
.header .header__logo svg path{
    transition: all .2s ease;
}
.header.scrolled .header__logo svg path{
    fill: #000;
}
.header.scrolled .header__menu ul li a{
    color: #231F20;
}
.header.scrolled .header__lang-selected{
    color: #231F20;
    border-color: rgba(0, 0, 0, 0.20);
}
.header.scrolled .header__lang-selected::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_8_331' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_331)'%3E%3Cpath d='M12 15.4L6 9.4L7.4 8L12 12.6L16.6 8L18 9.4L12 15.4Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
}
.header.scrolled .header__lang-content{
    border-color: rgba(0, 0, 0, 0.20);
}
.header.scrolled .header__burger svg path{
    fill: #231F20;
}
@media (max-width: 999px) {
    .header__inner{
        gap: 2.22vh;
    }
    .header__menu{
        position: fixed;
        inset: 0;
        width: 100%;
        background-color: hsla(0, 0%, 0%, 0.7);
        z-index: 100;
        overflow: hidden;
        transition: all .2s ease;
        opacity: 0;
        pointer-events: none;
        width: 100vw;
    }
    .header__menu ul{
        flex-direction: column;
        background-color: #fff;
        max-width: 46.3vh;
        margin-left: auto;
        height: 100%;
        padding: 7.41vh 1.85vh 3.7vh;
        transform: translateX(100%);
        transition: all .2s ease;
        overflow: auto;
    }
    .header__menu.active{
        opacity: 1;
        pointer-events: all;
    }
    .header__menu.active ul{
        transform: translateX(0%);
    }
    .header__menu ul li a{
        color: #231F20;
    }
    .header__lang{
        margin-left: auto;
    }
    .header__menu-close{
        position: absolute;
        z-index: 10;
        top: 1.48vh;
        right: 1.48vh;
    }
    .header__menu-close,
    .header__burger{
        display: flex;
    }
}
@media (max-width: 767px) {

}
@media (max-width: 479px) {

}
.hero{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.hero__video{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: -1;
    inset: 0;
}
.hero__video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hero__video::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 77.04%, rgba(0, 0, 0, 0.50) 100%);
}
.hero__video::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.20);
}
.hero__inner{
    padding: 5.56vh 0 1.85vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero__title{
    color: #FFF;
    text-align: center;
    font-size: 13.89vh;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
}
.hero__descr{
    text-align: center;
    color: #FFF;
    font-size: 3.7vh;
    font-weight: 600;
    line-height: 110%;
}
.hero__descr span{
    padding: 0 0.93vh;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.hero__descr span::before{
    content: '';
    position: absolute;
    bottom: -0.28vh;
    left: 0;
    right: 0;
    height: 3.98vh;
    border: 0.09vh solid #fff;
    border-radius: 9.26vh;
    z-index: -1;
}
.hero__btn {
	position: relative;
	width: 17.78vh;
	height: 17.78vh;
	min-width: 17.78vh;
	border-radius: 50%;
	background-color: #fff;
	margin-top: 3.7vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero__btn-icon {
	z-index: 2;
	position: relative;
	width: 11.85vh;
	height: 11.85vh;
	min-width: 11.85vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #E5E28B;
}
.hero__btn-icon svg {
	width: 4.44vh;
	height: auto;
}
.hero__btn-text {
	position: absolute;
	width: 87%;
	height: 100%;
	animation: rotationText 20s linear infinite;
}
.hero__btn-text textPath {
	text-transform: uppercase;
    font-size: 1.2vh;
    font-weight: 400;
    line-height: 2.59vh;
    letter-spacing: 0.87vh;
    text-transform: uppercase;
}
@keyframes rotationText {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 1279px) {

}
@media (max-width: 999px) {

}
@media (max-width: 767px) {

}
@media (max-width: 479px) {
    .hero__title{
        font-size: 10vh;
    }
}
/* about */
.about{
    z-index: 10;
    position: relative;
    min-width: 600px;
}
.about .section-inner{
    position: relative;
}
.about .section-inner::after{
    content: '';
    position: absolute;
    background-image: url('../img/apple.png');
    width: 36.2vh;
    height: 36.2vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0.65vh;
    right: -16.39vh;
    z-index: 1;
}
.about__inner{
    max-width: 137.59vh;
    margin: 0 auto;
    width: 100%;
    padding: 5.56vh 0 1.85vh;
    display: flex;
    align-items: center;
    gap: 3.7vh;
    justify-content: space-between;
}
.about__content{
    width: 100%;
    max-width: 66.94vh;
}
.about__title{
    font-size: 7.41vh;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 2.96vh;
}
.about__descr + .about__descr{
    margin-top: 2.22vh;
}
.about__image{
    height: 69.72vh;
    width: 100%;
    max-width: 60.19vh;
    display: flex;
    align-items: center;
    border-radius: 1.85vh;
    overflow: hidden;
}
.about__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media (max-width: 1279px) {

}
@media (max-width: 999px) {
    .about .section-inner::after{
        bottom: -13vh;
    }
}
@media (max-width: 767px) {
    
}
@media (max-width: 479px) {

}
/* ourprod */
.ourprod{
    z-index: 15;
    overflow: hidden;
    position: relative;
    min-width: 900px;
}
.ourprod .section-inner{
    position: relative;
}
.ourprod .section-inner::before{
    content: '';
    position: absolute;
    background-image: url('../img/apple.png');
    width: 36.2vh;
    height: 36.2vh;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0.65vh;
    left: -19.81vh;
    z-index: 1;
    background-size: contain;
}
.ourprod__inner{
    max-width: 137.59vh;
    margin: 0 auto;
    width: 100%;
    padding: 7.41vh 0 1.85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.7vh;
    justify-content: space-between;
}
.ourprod__top{
    position: relative;
    z-index: 2;
}
.ourprod__name{
    text-align: center;
    margin: 0 auto;
    max-width: max-content;
    text-align: center;
    font-size: 2.04vh;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.28vh;
    border-radius: 1.85vh;
    background: #E5E28B;
    display: flex;
    padding: 0.37vh 1.48vh;
    justify-content: center;
    align-items: center;
    gap: 0.93vh;
}
.ourprod__title{
    text-align: center;
    font-size: 7.41vh;
    font-weight: 600;
    line-height: 120%;
    margin-top: 1.48vh;
}
.ourprod__about{
    text-align: center;
    max-width: 81.2vh;
    margin: 1.48vh auto 0;
}
.ourprod__content{
    width: 100%;
    margin-top: 8.43vh;
    display: flex;
    align-items: start;
    gap: 0;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}
.ourprod__image {
    width: 72%;
    max-width: 98.89vh;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    z-index: -1;
    height: 50vh;
}
.ourprod__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(27.78vh);
    transition: all 1s ease;
}
.ourprod.animated .ourprod__image img{
    transform: translateY(0);
    opacity: 1;
}
.ourprod__descr{
    padding: 1.85vh 0;
}
.ourprod__block{
    display: flex;
    flex-direction: column;
    gap: 2.78vh;
    max-width: 37.04vh;
    width: 27%;
}
.ourprod__block:first-child{
    gap: 2.22vh;
}
.ourprod__block-content{
    padding: 1.48vh;
    border-radius: 0 4.44vh 4.44vh 4.44vh;
    background: #FAF3E8;
    display: flex;
    gap: 1.85vh;
    align-items: start;
}
.ourprod__block-icon{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 10.19vh;
}
.ourprod__block-icon img{
    width: 10.19vh;
}
.ourprod__block-descr{
    font-size: 1.3vh;
    font-weight: 600;
    line-height: 140%;
}
.ourprod__descr{
    position: relative;
    z-index: 1;
}
.ourprod__descr::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 10.56vh;
    height: 10.56vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='117' height='115' viewBox='0 0 117 115' fill='none'%3E%3Cpath d='M2 56.8845C37.68 38.2132 72.5 36 111.051 61.8493M99.5486 66.2577L112.264 62.2087L107.757 49.1044' stroke='%23E6E28B' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -4.72vh;
    right: -5.37vh;
}
.ourprod__block:last-child .ourprod__descr::after{
    right: initial;
    transform: scaleX(-1);
    left: -5.28vh;
}
@media (max-width: 1279px) {

}
@media (max-width: 999px) {
    .ourprod .section-inner::before{
        bottom: -13vh;
    }
}
@media (max-width: 767px) {

}
@media (max-width: 479px) {
    .ourprod__content{
        margin-top: 0;
    }
    .ourprod__image{
        max-width: 66.89vh;
    }
    .ourprod__title{
        font-size: 5.56vh;
    }
}
/* products */
.products{
    overflow: hidden;
}
.products__inner{
    padding: 9.26vh 0 1.85vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.products__title{
    font-size: 5.56vh;
    font-weight: 600;
    line-height: 120%;
}
.products__descr{
    font-size: 1.85vh;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 1.11vh;
}
.products__slider{
    margin-top: 4.44vh;
    width: 100%;
    display: flex;
    gap: 1.85vh;
    position: relative;
    user-select: none;
    cursor: grab;
}
.products__slider.dragging {
  cursor: grabbing;
}
.products__slider .swiper-wrapper{
    align-items: stretch;
}
.products__slide {
    transition: transform 2s ease;
    width: 37.78vh;
    min-width: 37.78vh;
    pointer-events: none;
    height: auto;
}
.products__slide:not(:last-child){
    margin-right: 1.85vh;
}
.products__slide.animated {
    transform: translateX(0);
}
.product__item{
    border-radius: 1.85vh;
    background: #FFF;
    padding: 1.11vh;
    display: flex;
    flex-direction: column;
}
.product__item-details{
    position: absolute;
    z-index: 1;
    top: 2.22vh;
    left: 2.22vh;
    display: flex;
    padding: 0.19vh 1.11vh;
    justify-content: center;
    align-items: center;
    gap: 0.93vh;
    border-radius: 1.85vh;
    text-align: center;
    font-size: 1.67vh;
    font-weight: 600;
    line-height: 140%;
    background: #E5E28B;
}
.product__item-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.85vh;
    height: 37.04vh;
}
.product__item-image img{
    width: max-content;
    height: max-content;
    max-width: 100%;
    max-height: 100%;
}
.product__item-content{
    margin-top: 1.11vh;
    padding: 0.74vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.product__item-title{
    font-size: 2.22vh;
    font-weight: 600;
    line-height: 120%;
}
.product__item-descr{
    margin-top: 1.11vh;
    overflow: hidden;
    color: #665A5D;
    text-overflow: ellipsis;
    font-size: 1.48vh;
    line-height: 130%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-width: 100%;
    margin-bottom: 1.85vh;
}
.product__item-more{
    transition: all .2s ease;
    border-radius: 4.63vh;
    border: 0.19vh solid #E5E28B;
    padding: 1.2vh 2.31vh;
    display: flex;
    align-items: center;
    gap: 0.93vh;
    margin-top: auto;
    height: 5.28vh;
    max-width: 17.5vh;
    width: 100%;
    pointer-events: all;
}
.product__item-more::after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M16.575 8.9V16.5C16.575 16.7833 16.6708 17.0208 16.8625 17.2125C17.0542 17.4042 17.2917 17.5 17.575 17.5C17.8583 17.5 18.0958 17.4042 18.2875 17.2125C18.4792 17.0208 18.575 16.7833 18.575 16.5V6.5C18.575 6.21667 18.4792 5.97917 18.2875 5.7875C18.0958 5.59583 17.8583 5.5 17.575 5.5H7.575C7.29167 5.5 7.05417 5.59583 6.8625 5.7875C6.67083 5.97917 6.575 6.21667 6.575 6.5C6.575 6.78333 6.67083 7.02083 6.8625 7.2125C7.05417 7.40417 7.29167 7.5 7.575 7.5H15.175L6.275 16.4C6.09167 16.5833 6 16.8167 6 17.1C6 17.3833 6.09167 17.6167 6.275 17.8C6.45833 17.9833 6.69167 18.075 6.975 18.075C7.25833 18.075 7.49167 17.9833 7.675 17.8L16.575 8.9Z' fill='%23231F20'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 2.22vh;
    height: 2.22vh;
    min-width: 2.22vh;
}
.product__item-more:hover{
    background-color: #E5E28B;
}
@media (max-width: 1279px) {

}
@media (max-width: 999px) {

}
@media (max-width: 767px) {

}
@media (max-width: 479px) {
    .product__item-image{
        height: 24vh;
    }
    .product__item{
        width: 29.7vh;
        min-width: 29.7vh;
    }
}
main.main{
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}
.hero {
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    z-index: 1;
}
.sections-inner{
    overflow: hidden;
    position: absolute;
    inset: 0;
}
.sections-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    background-color: #fff;
    transition: background-color .5s ease;
}
.section-horizontal {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    flex-shrink: 0;
}
.section__inner{
    height: 100%;
}
.sections-bg-1{
    background-color: #fff;
}
.sections-bg-2{
    background-color: #fff;
}
.sections-bg-3{
    background-color: #F2EBE1;
}
.sections-bg-4{
    background-color: #E1EBF0;
}
.sections-bg-5{
    background-color: #E7E1F0;
}
.sections-bg-6{
    background-color: #F0E1E4;
}
.section-inner{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.products__slider {
    touch-action: pan-y; 
}
